<a href="https://colab.research.google.com/github/MK316/Classroom/blob/main/grades_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Grade analysis

In [2]:
import pandas as pd
import io

In [22]:
from google.colab import files
uploaded = files.upload()

Saving engling.midterm.csv to engling.midterm.csv

In [23]:
type(uploaded)

dict

In [62]:
# Read csv file uploaded as pandas dataframe
df1 = pd.read_csv(io.BytesIO(uploaded['engling.midterm.csv']))
df1.describe()

             1ST        2nd        Add  Unnamed: 7  Unnamed: 8
count  30.000000  30.000000  30.000000         0.0         0.0
mean   51.613333  66.026667  14.393333         NaN         NaN
std    19.727134  19.197808  15.777350         NaN         NaN
min     7.300000  18.300000   0.000000         NaN         NaN
25%    39.800000  58.525000   0.000000         NaN         NaN
50%    52.800000  71.000000  11.900000         NaN         NaN
75%    65.650000  79.400000  22.900000         NaN         NaN
max    85.200000  94.200000  58.300000         NaN         NaN

In [ ]:
#@markdown Drop specific columns:  
# df2 = df1.drop(['name', 'Unnamed: 7', 'Unnamed: 8'],axis=1); df2.tail()

In [77]:
# Column data type adjustment

Before = df1['1ST']
After = df1['2nd']
df3 = pd.DataFrame({'Retake':df1['Retake'],'Before':Before, 'After':After})
df3.tail()

   Retake  Before  After
25    YES    25.8   56.3
26    YES    42.2   66.7
27    YES    29.7   80.2
28    YES    63.5   75.5
29    YES    49.2   69.2

In [74]:
Rgroup = df3[df3['Retake'] == "YES"]
Ngroup = df3[df3['Retake'] == "NO"]

In [75]:
Rgroup.describe()

          Before      After
count  19.000000  19.000000
mean   46.178947  68.936842
std    15.240464  16.115631
min     7.300000  22.700000
25%    40.600000  61.500000
50%    49.200000  72.000000
75%    54.650000  78.600000
max    65.800000  94.200000

In [76]:
Ngroup.describe()

         Before     After
count  11.00000  11.00000
mean   61.00000  61.00000
std    23.61021  23.61021
min    18.30000  18.30000
25%    49.75000  49.75000
50%    69.00000  69.00000
75%    77.00000  77.00000
max    85.20000  85.20000

# Plots